a {
  color: inherit;
  text-decoration: inherit;
}
.appBar {
  align-items: center;
}

.gradient-background {
  background: linear-gradient(155deg,#ff8700,#ff009d);
  background-size: 120% 120%;
  animation: gradient-animation 4s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
